Oracle 12c/Oracle-000001.vmdk
Oracle 12c/Oracle-000002.vmdk
Oracle 12c/Oracle-000003.vmdk
Oracle 12c/Oracle-Snapshot32.vmsn
Oracle 12c/Oracle.nvram
Oracle 12c/Oracle.vmdk
Oracle 12c/Oracle.vmsd
Oracle 12c/Oracle.vmx
Oracle 12c/Oracle.vmxf
